.transaction-page {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
}
